.product{
  &__list{
    display: flex;
    flex-wrap:wrap;
  }

  &__item{
    padding: 5px;
    width: 30%;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }

  &__img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 10px;
  }

  &__title{
    margin-top: 10px;
    margin-bottom: 0;
  }
}